<?xml version="1.0" ?>
<!--
  ~ Joseph Young joseph@ozarkdigital.co.uk
  ~ 2021
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="Ozark_CustomerNotes" id="Ozark_CustomerNotes">
			<module before="Magento_Backend" name="Ozark_CustomerNotes"/>
		</route>
	</router>
</config>
